body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-header {
  width: 100%;
  background: linear-gradient(145deg, #2c2c2c, #1a1a1a);
  color: #fff;
  padding: 1.5rem 1rem;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid #555;
}

.header-gif {
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 10px #ffcc00;
}
.title-container h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  text-shadow: 1px 1px 2px #000;
}
.tagline {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  font-style: italic;
  color: #ffddaa;
}
.sequencer {
  padding: 1rem;
  flex: 1;
}

.controls {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;

  text-align: center;
}

.controls h2 {
  margin: 0;
}

select {
  padding: 0.4rem;
  background: #fff;
  color: #000;
  border-radius: 4px;
}

.kick {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px; /* spacing between pads */
  min-height: 50px; /* center vertically */
}

.pad {
  width: 100px;
  height: 50px;
  background-color: #111;
  border: none;
  border-radius: 25px;
  background-color: #e2d5d5;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
  transition: all 0.3s ease;
  cursor: pointer;
}

.pad:hover {
  transform: scale(1.1);
  background-color: #080808;
  box-shadow: 0 0 20px #1abc9c, 0 0 30px #9b59b6;
}


.controls-bottom {
  margin: 2rem 0;
  text-align: center;
}

.play {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  background: #6a11cb;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s;
}

.play:hover {
  background: #2575fc;
}

.tempo-control {
  text-align: center;
  margin-top: 1rem;
}

.tempo-slider-container {
  display: inline-block;
  background: #1e1e2f;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #444;
}

.tempo-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.tempo-input {
  width: 60px;
  padding: 0.3rem;
  border: none;
  border-radius: 5px;
  text-align: center;
}

footer {
  width: 100%;
  background-color: #222;
  color: #ccc;
  text-align: center;
  padding: 15px 10px;
  font-size: 0.95rem;
  border-top: 2px solid #444;
  margin-top: auto;
}
